doctype
html(lang='en')
    head
        meta(charset='utf-8')
        //- TODO remove noindex
        meta(name='robots' content='noindex')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        title Arramu
        block styles
            link(rel="stylesheet", href="styles/main.css", attr)
            script(src="https://kit.fontawesome.com/48a780d8d5.js" crossorigin="anonymous")
            
    body
        header 
            .medium-container.header-container
                img.header-logo(src="images/arramu-logo-simple.png", alt="arramu-logo")
                .nav-background
                button.mobile-nav-open-button
                    i.fas.fa-bars    
                nav
                    button.mobile-nav-close-button
                        i.fas.fa-times
                    ul
                        li
                            a(href="#") About
                        li
                            a(href="#") Gallery
                        li
                            a(href="#") Video
                        li
                            a(href="#") Contact
                        li
                            a(href="#") Shop
        
        .header-buffer
        block content
        footer
            .medium-container
                .footer-grid
                    .footer-left
                        p  	&copy; Arramu 2020
                    .footer-right.social-icons
                        a(href="#" target="_blank")
                            i.fa.fa-facebook
                        a(href="#" target="_blank")
                            i.fa.fa-instagram
                    .footer-left
                        p
                            a(href="#") About this site
                    .footer-right
                        p Website by 
                            a(href="#") Tom

        block scripts
            script(src='https://cdn.plyr.io/3.6.2/plyr.polyfilled.js')
            script(src="scripts/scripts.js")