doctype
html(lang='en')
    head
        meta(charset='utf-8')
        //- TODO remove noindex
        meta(name='robots' content='noindex')
        title Arramu
        block styles
            link(rel="stylesheet", href="styles/main.css", attr)
            
    body
        header 
            .medium-container.header-container
                img.header-logo(src="images/arramu-logo-simple.png", alt="arramu-logo")
                nav
                    ul
                        li
                            a(href="#") About
                        li
                            a(href="#") Gallery
                        li
                            a(href="#") Video
                        li
                            a(href="#") Contact
                        li
                            a(href="#") Shop

        block content
    footer
        .medium-container.flex-space-between
            p Copyright Arramu 2020
            p Website by Tom
    block scripts
        script(src="scritps/scripts.js")